.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FormContainer {
  max-width: 600px;
}

.FormContainer input {
  width: 200px;
  height: 2rem;
  border-radius: 0.2rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.Container {
  width: 50%;
  height: auto;
  min-height: 200px;
  margin-top: 3rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.Button {
  margin: 1rem;
  padding: 1rem 3rem 1rem 3rem;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.Button:hover,
.Button:active {
  background-color: gray;
}
